body {
	background-image: url('https://cdn.suwalls.com/wallpapers/funny/rock-paper-scissors-16937-1920x1200.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	font-weight: bold;
}
.text-center {
	padding: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.row {
	padding: 10px;
}
.label-top span {
	font-size: 25px;
	padding: 10px;
	margin: 5px;
}
.label-top {
	text-align: center;
	padding-bottom: 25px;
	letter-spacing: 1px;
}
.label-info {
	background-color: #000080;
}
#js-newGameButton {
	font-weight: bold;
	text-transform: uppercase;
}
